/* Fondo del popup */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Contenedor del contenido */
  .popup-contenido {
    position: relative;
    padding: 20px;
    width: 400px;
    max-width: 90%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  /* Botón de cerrar */
  .popup-cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #888;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .popup-cerrar:hover {
    color: #000;
  }
  
  /* Imagen */
  .popup-imagen {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  /* Título */
  .popup-titulo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Texto */
  .popup-texto {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
  }
  