/* Márgenes generales y reset */
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #fffdf8;
  color: #5c5c5c;
}

/* Márgenes para la portada */
.portada-con-margen {
  margin: 0;
  padding: 0;
}

.encabezado {
  margin: 0;
  padding: 0;
}

/* Sección de fechas */
.contador-seccion {
  text-align: center;
  margin: 40px 0;
}

.boton-agendar {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

/* Sección de eventos */
.seccion-eventos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 50px 0;
  padding: 0 20px;
}

/* Sección historia */
.seccion-historia img {
  max-width: 100%;
  border-radius: 10px;
}

/* Sección álbum */
.seccion-album {
  text-align: center;
  margin: 50px auto;
}


/* Sección confirmar asistencia */
.seccion-confirmar-asistencia {
  text-align: center;
  margin: 50px 0;
}

.boton {
  display: inline-block;
  padding: 12px 24px;
  background-color: #c79f5c;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: #a98045;
}

/* Mensaje de confirmación */
.mensaje-confirmacion {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4caf50;
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  z-index: 1000;
  animation: fadeInOut 5s ease-in-out;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  10%, 90% {
    opacity: 1;
  }
}
